<div class="container">
  <div class="search">
    <app-search-input (searchChange)="onSearchChange($event)"></app-search-input>
  </div>

  <div class="options">
    <div>
      <span class="result">Найдено: {{ results }}</span>
    </div>
    <div class="options__item">
      <div *ngFor="let toggle of toggles">
        <button class="options__button"
          *ngIf="toggle.label"
          [class.active]="toggle === activeToggle"
          (click)="onClick(toggle)">
          {{ toggle.label }}
        </button>
      </div>
    </div>
  </div>
  <div 
    class="scroll" 
    [ngClass]="{scroll: visibileScroll}" 
    #table
    >
    <table>
      <thead>
        <tr>
          <th>Номер</th>
          <th>Имя</th>
          <th>Год рождения</th>
          <th>Вес</th>
          <th>Рост</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="charactersArray.length > 0; else notFound">
          <tr *ngFor="let character of charactersArray; index as i">
            <td>{{ i + 1 }}</td>
            <td>
              {{ character.name }}
            </td>
            <td>
              {{ character.birth_year }}
            </td>
            <td>
              {{ character.mass }}
            </td>
            <td>
              {{ character.height }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <ng-template #notFound>
    <div>Ничего не найдено</div>
  </ng-template>

  <ng-container *ngIf="paginationState">
    <div class="pagination">
      <a 
        class="pagination__item"
        (click)="onPreviousPage()"
        [class.disabled]="isDisabled"
      >
        Previous
      </a>
      <a class="pagination__item">
        {{ currentPage }}
      </a>
      <a
        class="pagination__item" 
        (click)="onNextPage()"
      >
        Next
      </a>
    </div>  
  </ng-container>



